<section class="style style_1" id="style1">
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">KNIT_¥6,600</span>
                    <span class="buy">BUY</span>
                    <span>/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥5,990</span>
                    <span class="buy">BUY</span>
                    <span>/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/ph1.png" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/ph1.png" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
