
<div class="mv_wrap">
    <div class="mv">
        <img class="sp" src="<%= rootURL %>/assets/img/movie.png" alt="" loading=”lazy”>
        <img class="pc" src="<%= rootURL %>/assets/img/movie.png" alt="" loading=”lazy”>
        <div class="ttl-wrap">
            <h1>
                <img src="<%= rootURL %>/assets/img/rageblue.png" alt="" loading=”lazy”>
            </h1>
            <p class="subttl">
                2025 SPRING COLLECTION
            </p>
            <div class="skip">
                SKIP MOVIE
                <div class="arrow"></div>
            </div>
            
        </div>
    </div>
</div>