
<div class="mv_wrap">
    <div class="mv">
        <video class="sp" src="https://movie.dot-st.com/static2/rageblue/2025spring/RAGEBLUE.mp4"
            poster="<%= rootURL %>/assets/img/sp_movie.png" autoplay="false" muted playsinline loop></video>
        <!-- <img class="sp" src="<%= rootURL %>/assets/img/sp_movie.png" alt="" loading=”lazy”> -->
        <img class="pc pcmovie" src="<%= rootURL %>/assets/img/pc_movie.png" alt="" loading=”lazy”>
        <div class="ttl-wrap">
            <h1>
                <img src="<%= rootURL %>/assets/img/mv_logo.png" alt="" loading=”lazy”>
            </h1>
            <p class="subttl">
                2025 SPRING COLLECTION
            </p>
            <div class="skip">
                SKIP MOVIE
                <div class="arrow"></div>
            </div>
            
        </div>
    </div>
</div>