@use './_reset';
@use './_mixin' as *;

$spw : 375;
$pcw : 1280;

body{
    height: -webkit-fill-available;
    color: #000;
    font-family: Helvetica;
    &.noscroll {
        overflow: hidden;
      }
}

.contents{
    max-width: 700px;
    margin: 0 auto;
    @include pc{
        max-width: none;
        margin: auto;
    }
}

.pc{
    display: none;
}
.sp{
    display: block;
}

@include pc{
    .pc{
        display: block;
    }
    .sp{
        display: none;
    } 
}

@font-face {
    font-family: "Helvetica"; /*任意のフォントファミリー名でOK*/
    src: url("../font/HelveticaNeueLTStd-Md.otf") format("truetype"); 
    font-display: swap; 
  }