@use './_reset';
@use './_mixin' as *;

$spw : 375;
$pcw : 1280;

body{
    color: #000;
}

.pc{
    display: none;
}
.sp{
    display: block;
}

@include pc{
    .pc{
        display: block;
    }
    .sp{
        display: none;
    } 
}