@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.pc-footer{
    position: relative;
    .footer_inner{
        width: 100%;
        position: fixed;
        height: 100vh;
        top: 0;
    }
    
}

.sp-footer{
    position: relative;
}

.footer_wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: calc(15.6  / c.$spw) * 100%;
    margin-bottom: calc(23.4  / c.$spw) * 100%;
    @include pc{
        width: 100%;
        max-width: 1500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-left: 0;
        margin-top: 0;
    }
}

.footer_logo{
    width: calc(118.59 / c.$spw) * 100%;
    @include pc{
        width: calc(162.57 / c.$pcw) * 100%;
        max-width: 163px;
        margin-left: calc(28 / c.$pcw) * 100%;
    }
    a{
        @include pc{
            cursor: url('../img/cursol_circle.png') 0 17, auto;
        }
    }

}

.footer_credit{
    margin-top: calc(27.4 / c.$spw) * 100%;
    font-size: calc(9 / c.$spw * 100vw);
    line-height: 1.5;
    @include pc{
        margin-top: calc(17.5 / c.$pcw) * 100%;
        font-size: calc(10 /c.$pcw * 100vw);
        margin-left: calc(28 / c.$pcw) * 100%;
    }
}

.footer_sns{
    display: flex;
    margin-top: calc(23.4 / c.$spw) * 100%;
    vertical-align: middle;
    align-items: center;
    gap: calc(13.9 / c.$spw) * 100%;
    @include pc{
        margin-top: calc(21.6 / c.$pcw) * 100%;
        gap: calc(15.6 / c.$pcw) * 100%;
        margin-left: calc(28 / c.$pcw) * 100%;
    }

    .x,
    .tiktok{
        width: calc(17.76 / c.$spw) * 100%;
        line-height: 0;
        @include pc{
            width: calc(17.76 / c.$pcw) * 100%;
            max-width: 18px;
        }
        a{
            @include pc{
                cursor: url('../img/cursol_circle.png') 0 17, auto;
            }
        }
    }
    .insta,
    .line{
        width: calc(20.02 / c.$spw) * 100%;
        line-height: 0;
        @include pc{
            width: calc(20.02 / c.$pcw) * 100%;
            max-width: 21px;
        }
        a{
            @include pc{
                cursor: url('../img/cursol_circle.png') 0 17, auto;
            }
        }
    }
}
    
    
.footer_copy{
    margin-top: calc(13.5 / c.$spw) * 100%;
    font-size: calc(8 /c.$spw * 100vw);
    @include pc{
        margin-left: calc(28 / c.$pcw) * 100%;
        margin-top: calc(12.3 / c.$pcw) * 100%;
        font-size: calc(8 /c.$pcw * 100vw);
    }
}



