@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.overlay{
    position: fixed;
    top: 0;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 400;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    background-color: #fff;
    &.show{
        visibility: visible;
        opacity: 1;
        transition: all .5s ease;
    }
    @include pc{
        height: 100vh;
    }
    
}
.index_wrap{
    padding-top: calc(55 / c.$spw) * 100%;
    @include pc{
        position: relative;
        padding-top: 63px;
        height: 100vh;
        width: 100%;
    }
    @include full{
        position: relative;
        padding-top: calc(63 / c.$pcw) * 100%;
        height: 100vh;
        width: calc(1100 / c.$pcw) * 100%;
        max-width: 1500px;
        margin: 0 auto;
    }
}

.index_inner {
    height: 100%;
    overflow: scroll; /* スクロール設定 */
  }

.index_content{
    display: flex;
    flex-wrap: wrap;
    .index_ph{
        width: 50%;
        height: auto;
        line-height: 0;
        @include pc{
            width: 20%;

        }
        a{
            @include pc{
                cursor: url('../img/cursol_circle.png') 0 17, auto!important;
            }
            
        }
    }
}

.index_logo{
    width: calc(118.59 / c.$spw) * 100%;
    margin-top: calc(125 / c.$spw) * 100%;
    margin-left: calc(15.6  / c.$spw) * 100%;  
}

.index_credit{
    margin-top: calc(27.4 / c.$spw) * 100%;
    margin-left: calc(15.6  / c.$spw) * 100%;
    font-size: calc(9 / c.$spw * 100vw);
    line-height: 1.5;
    
}

.index_sns{
    display: flex;
    margin-top: calc(23.4 / c.$spw) * 100%;
    margin-left: calc(15.6  / c.$spw) * 100%;
    vertical-align: middle;
    align-items: center;
    gap: calc(13.9 / c.$spw) * 100%;

    .x,
    .tiktok{
        width: calc(17.76 / c.$spw) * 100%;
        line-height: 0;
        
    }
    .insta,
    .line{
        width: calc(20.02 / c.$spw) * 100%;
        line-height: 0;
        
        
    }
}


.index_copy{
    margin-top: calc(13.5 / c.$spw) * 100%;
    margin-left: calc(15.6  / c.$spw) * 100%;
    margin-bottom: calc(23.6  / c.$spw) * 100%;
    font-size: calc(8 /c.$spw * 100vw);
    
}

.pc-index_wrap{
    position: relative;
    padding-top: calc(91 / 1100) * 100%;
    
}



.pc-index_credit{
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    font-size: min(calc(10 / c.$pcw * 100vw),10px);
    @include full{
        left: 0;
    }
    
}

.pc-index_right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    width: 100%;
    text-align: right;
    @include full{
        right: 0;
    }

}

.index_flex{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: end;
}

.pc-index_sns{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    width: calc(122 / 1100) * 100%;
    max-width: 122px;
    .x,
    .tiktok{
        @include pc{
            line-height: 0;
            width: calc(17.98 / 122) * 100%;
            max-width: 18px;
        } 
    }

    .insta,
    .line{
        @include pc{
            line-height: 0;
            width: calc(20.28 / 122) * 100%;
            max-width: 20.3px;
        }
        
    }
    
    
}

.pc-index_logo{
    width: calc(135.4 / 1100) * 100%;
    padding-right: calc(19 / 1100) * 100%;
    margin-right: calc(19 / 1100) * 100%;
    border-right: solid #000 2px;
    line-height: 0;
    max-width: 134.5px;
}

.pc-index_copy{
    font-weight: lighter;
    width: 100%;
    font-size: min(calc(8 / c.$pcw * 100vw),8px);
    margin-top: calc(13.4 / 1100) * 100%;
}