@use './_reset';
@use './_mixin' as *;
@use './_common' as c;


// MVからスクロールしてきたら出すようにする

.top_wrap{
    width: 100%;
    position: fixed;
    z-index: 450;
    top: 0;
    left: 0;
    padding-top: calc(50 / c.$spw) * 100%;
    
}

h2{
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: calc(10 / c.$spw * 100vw);
    font-weight: normal;
    z-index: 500;
    @include pc{
        font-size: calc(12 / c.$pcw * 100vw);
        top: 0;
        margin-top: calc(30 / c.$pcw) * 100%;
    }
}

.nav{
    position: fixed;
    display: flex;
    top: 10px;
    right: 20px;
    z-index: 500;
    @include pc{
        top: 0;
        margin-top: calc(30 / c.$pcw) * 100%;
    }
    li{
        // border-bottom: solid 1.5px #7c7b7b;
        font-size: calc(10 / c.$spw * 100vw);
        padding-left: 10px;
        padding-bottom: calc(5 / c.$spw) * 100%;
        position: relative;
        line-height: 1;
        @include pc{
            font-size: calc(12 / c.$pcw * 100vw);
        }
        
    }

    .nav_feed{
        margin-right: 10px;
        opacity: 1;
        transform: opacity .3s ease;
        &.hidden{
            opacity: 0.5;
        }
    }
    .nav_index{
        opacity: 0.5;
        transform: opacity .3s ease;
        &.show{
            opacity: 1;
        }
        &::after{
            position: absolute;
            top: 25%;
            left: 0;
            content: "";
            background: #000;
            border-radius: 50%;
            width: 2px;
            height: 2px;
        }

        
    }

}


.numbers{
    display: flex;
    margin-left: 20px;
    opacity: 1;
    transition: opacity .2s ease;
    &.hidden{
        opacity: 0;
    }
    .number{
        font-size: calc(10 / c.$spw * 100vw);
        padding-right: 5px;
        color: #000;
        opacity: 0.5;
        transition: opacity .2s ease;
    }
}



.contents:has(#style1.on) .num_anchor .sp-numbers li:nth-child(1){
    opacity: 1;
}

.contents:has(#style1.on) .num_anchor .sp-numbers li:not(:nth-child(1)){
    opacity: 0.5;
}


.contents:has(#style2.on) .num_anchor .sp-numbers li:nth-child(2){
    opacity: 1;
}

.contents:has(#style2.on) .num_anchor .sp-numbers li:not(:nth-child(2)){
    opacity: 0.5;
}


.contents:has(#style3.on) .num_anchor .sp-numbers li:nth-child(3){
    opacity: 1;
}

.contents:has(#style3.on) .num_anchor .sp-numbers li:not(:nth-child(3)){
    opacity: 0.5;
}


.contents:has(#style4.on) .num_anchor .sp-numbers li:nth-child(4){
    opacity: 1;
}

.contents:has(#style4.on) .num_anchor .sp-numbers li:not(:nth-child(4)){
    opacity: 0.5;
}

.contents:has(#style5.on) .num_anchor .sp-numbers li:nth-child(5){
    opacity: 1;
}

.contents:has(#style5.on) .num_anchor .sp-numbers li:not(:nth-child(5)){
    opacity: 0.5;
}
.contents:has(#style6.on) .num_anchor .sp-numbers li:nth-child(6){
    opacity: 1;
}

.contents:has(#style6.on) .num_anchor .sp-numbers li:not(:nth-child(6)){
    opacity: 0.5;
}
.contents:has(#style7.on) .num_anchor .sp-numbers li:nth-child(7){
    opacity: 1;
}

.contents:has(#style7.on) .num_anchor .sp-numbers li:not(:nth-child(7)){
    opacity: 0.5;
}
.contents:has(#style8.on) .num_anchor .sp-numbers li:nth-child(8){
    opacity: 1;
}

.contents:has(#style8.on) .num_anchor .sp-numbers li:not(:nth-child(8)){
    opacity: 0.5;
}
.contents:has(#style9.on) .num_anchor .sp-numbers li:nth-child(9){
    opacity: 1;
}

.contents:has(#style9.on) .num_anchor .sp-numbers li:not(:nth-child(9)){
    opacity: 0.5;
}
.contents:has(#style10.on) .num_anchor .sp-numbers li:nth-child(10){
    opacity: 1;
}

.contents:has(#style10.on) .num_anchor .sp-numbers li:not(:nth-child(10)){
    opacity: 0.5;
}
.contents:has(#style11.on) .num_anchor .sp-numbers li:nth-child(11){
    opacity: 1;
}

.contents:has(#style11.on) .num_anchor .sp-numbers li:not(:nth-child(11)){
    opacity: 0.5;
}
.contents:has(#footer.on) .num_anchor .sp-numbers .number{
    opacity: 0.5;
}

