@use './_reset';
@use './_mixin' as *;
@use './_common' as c;


// MVからスクロールしてきたら出すようにする

h2{
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: calc(10 / c.$spw * 100vw);
    font-weight: normal;
    z-index: 500;
    @include pc{
        font-size: calc(12 / c.$pcw * 100vw);
        top: 0;
        margin-top: calc(30 / c.$pcw) * 100%;
    }
}

.nav{
    position: fixed;
    display: flex;
    top: 10px;
    right: 20px;
    z-index: 500;
    @include pc{
        top: 0;
        margin-top: calc(30 / c.$pcw) * 100%;
    }
    li{
        // border-bottom: solid 1.5px #7c7b7b;
        font-size: calc(10 / c.$spw * 100vw);
        padding-left: 10px;
        padding-bottom: calc(5 / c.$spw) * 100%;
        position: relative;
        line-height: 1;
        @include pc{
            font-size: calc(12 / c.$pcw * 100vw);
        }
        
    }

    .nav_feed{
        margin-right: 10px;
        opacity: 1;
        transform: opacity .3s ease;
        &.hidden{
            opacity: 0.5;
        }
    }
    .nav_index{
        opacity: 0.5;
        transform: opacity .3s ease;
        &.show{
            opacity: 1;
        }
        &::after{
            position: absolute;
            top: 25%;
            left: 0;
            content: "";
            background: #000;
            border-radius: 50%;
            width: 2px;
            height: 2px;
        }

        
    }

}
