@use './_reset';
@use './_mixin' as *;
@use './_common' as c;



.style{
    padding-top: calc(65 / c.$spw) * 100%;
}

.sp-main{
    
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100svh;
    
}

.sp-style{
    scroll-snap-align: start;
    height: 100vh;
    // height: 100dvh;
}

.single{
    padding-top: calc(22.8 / c.$spw) * 100%;
}
.swiper{
    padding-top: calc(22.8 / c.$spw) * 100%!important;
    .swiper-pagination{
      top: 0!important;
      right: 0!important;
      left: unset!important;
      bottom: unset!important;
      width: auto!important;
      line-height: 0;
      margin-right: 13px;
      vertical-align: middle;
      align-items: center;
    }
  }

/* ページネーションのサイズと色 */
.swiper-pagination-bullet {
    background-color: #000;
    height: 1.2px!important;
    width: 70px!important;
    border-radius: 0!important;
  }
  .swiper-pagination-bullet-active {
        background: #393939!important;
        height: 2px!important;
    }
  .swiper-slide{
    line-height: 0;
    img {
        height: auto;
        width: 100%;
    }
  }
  

.items_detail{
    margin: calc(23 / c.$spw) * 100% 0 0 20px;
    @include pc{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 0 0 0;
    }
    .item_name{
        display: inline-block;
        text-align: center;
        &:hover{
            .buy{
                background:  #000;
                img{
                    filter: brightness(1) invert(1);
                }
            }
            .name-price,
            .slash{
                opacity: 0.7;
            }
        }
        a{
            color: #000;
            display: flex;
            align-items: center;
            vertical-align: middle;
            gap: 5px;
            @include pc{
                cursor: url('../img/cursol_circle.png') 0 17, auto!important;
            }
        }
        span{
            line-height: 1;
            display: block;
        }
        .name-price,
        .slash{
            font-size: calc(11.5 / c.$spw * 100vw);
            opacity: 1;
            transition: all .3s ease;
            @include pc{
                font-size: max(calc(12 / c.$pcw * 100vw),12px);
            }
        }
        .buy{
            // font-size: calc(8.13 / c.$spw * 100vw);
            width: 28px;
            line-height: 0;
            border: solid 0.5px #000;
            border-radius: 15px;
            padding: 3px 5px;
            margin-bottom: 2px;
            background: none;
            transition: all .3s ease;
            img{
                filter: brightness(1) invert(0);
                transition: all .3s ease;

            }
            @include pc{
                padding: 3.5px 5px;
            }
        }
        
    }   
}

.item_flex{
    display: flex;
    vertical-align: middle;
    gap: 5px;
    align-items: center;
}

.second_line{
    margin-top: calc(7.3 / c.$spw) * 100%;
}